# Browsers that we support

# Windows 10 and later

last 2 Edge versions
last 2 Chrome versions

# MAC with the latest Mac OS

last 2 Safari versions

# Android 11 and later

last 2 ChromeAndroid versions

# iPhone with the latest iOS

last 2 iOS versions

not dead
